{% extends "base.html" %}

{% block content %}

<div id="background">
    <div id="top">
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
        <span></span>
        </label>
        <ul class="menu__box">
            <li><a class="menu__item" href="{% url 'index' %}">Accueil</a></li>
            <li><a class="menu__item" href="{% url 'offerList' %}">Annonces</a></li>
            <li><a class="menu__item" href="{% url 'offerAdd' %}">Ajouter une annonce</a></li>
            <li><a class="menu__item" href="{% url 'plantList' %}">Plantes</a></li>
            <li><a class="menu__item" href="{% url 'userDetail' 1 %}">Mon profil</a></li>
            <li><a class="menu__item" href="{% url 'login' %}">Se déconnecter</a></li>
        </ul>
    </div>
</div>

<header class="region">
    <div class="wrapper" data-size="narrow">
        <h1>A'RO<b style="color:#B5E245">SA-JE</b></h1>
    </div>
</header>
    <h1>Plantes</h1>
    <ul class="border">
        <li><a href="#">Orchidée<img src="https://photos.gammvert.fr/v5/products/fiche_590/56490-orchidee-phalaenopsis-2-tiges-blanche-2.jpg" class="img-li"></a></li>
        <li><a href="#">Ficus<img src="https://photos.gammvert.fr/v5/products/fiche_590/9880-ficus-golden-king.jpg" class="img-li"></a></li>
        <li><a href="#">Palmier<img src="https://photos.gammvert.fr/v5/products/fiche_590/19201-palmier-nain-chamaedora-hauteur-65cm.jpg" class="img-li"></a></li>
        <li><a href="#">Anthurium<img src="https://photos.gammvert.fr/v5/products/fiche_590/56475-anthurium-rouge-nevada-2.jpg" class="img-li"></a></li>
        <li><a href="#">Citronnier<img src="https://photos.gammvert.fr/v5/products/fiche_590/41914-citronnier-des-4-saisons-5.jpg" class="img-li"></a></li>
    </ul>
</div>

<script>
    $('.menu-burger, .menu-items').on('click', function() {
        $('.menu-bg, .menu-items, .menu-burger').toggleClass('fs');
        $('.menu-burger').text() == "☰" ? $('.menu-burger').text('✕') : $('.menu-burger').text('☰');
    });
</script>

{% endblock %}